@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'Ownglyph_ParkDaHyun', sans-serif;
}

body {
    font-family: sans-serif;
    text-align: center;
}

#inputContainer {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.digitInput {
    width: 30px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
}

.selected {
    background-color: lightgray;
}

#numberButtons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin: 10px;
}

.numberButton {
    padding: 10px;
    font-size: 16px;
}
