@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'Ownglyph_ParkDaHyun', sans-serif;
}

body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#inputContainer {
    display: flex;
    justify-content: center;
    margin: 5vh 0; /* 뷰포트 높이의 5% 여백 */
}

.digitInput {
    width: 8vw; /* 뷰포트 너비의 8% */
    padding: 2vh; /* 뷰포트 높이의 2% */
    margin: 0 2vw; /* 뷰포트 너비의 2% 여백 */
    text-align: center;
    font-size: 5vw; /* 뷰포트 너비의 5% 글꼴 크기 */
}

.selected {
    background-color: lightgray;
}

#numberButtons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2vw; /* 뷰포트 너비의 2% 간격 */
    margin: 5vh; /* 뷰포트 높이의 5% 여백 */
}

.numberButton {
    padding: 3vh; /* 뷰포트 높이의 3% */
    font-size: 4vw; /* 뷰포트 너비의 4% 글꼴 크기 */
}

#timer {
    font-size: 4vw;
    margin-top: 3vh;
}

#answer {
    font-size: 4vw;
}

#result {
    font-size: 4vw;
    margin-top: 3vh;
}
