@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'Ownglyph_ParkDaHyun', sans-serif;
}

body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#inputContainer {
    display: flex;
    justify-content: center;
    margin: 6vh 0; /* 여백 증가 */
}

.digitInput {
    width: 15vw; /* 너비 증가 */
    padding: 4vh; /* 패딩 증가 */
    margin: 0 3vw; /* 여백 증가 */
    text-align: center;
    font-size: 7vw; /* 글꼴 크기 증가 */
}

.selected {
    background-color: lightgray;
}

#numberButtons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3vw; /* 간격 증가 */
    margin: 6vh; /* 여백 증가 */
}

.numberButton {
    padding: 5vh; /* 패딩 증가 */
    font-size: 6vw; /* 글꼴 크기 증가 */
}

#timer {
    font-size: 5vw; /* 글꼴 크기 증가 */
    margin-top: 4vh; /* 여백 증가 */
}

#answer {
    font-size: 5vw; /* 글꼴 크기 증가 */
}

#result {
    font-size: 5vw; /* 글꼴 크기 증가 */
    margin-top: 4vh; /* 여백 증가 */
}
